/*
    rmk1) the asterisk (known as * css Selector_
    https://www.w3schools.com/cssref/sel_all.asp) in fornt of the css 
    declaration means that the declared applys to all elements from some class
    i.e <div>;
*/
.title {
    font-family: 'Archivo', sans-serif;
    color:red;
}
.t_row {
    color:blueviolet;
}
.ltbl h1 {
    margin:20px;
    background-color: aqua;
}
.italiccolor{
    color: brown;
}
.sndspn{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.foot{
    margin: 40px;
    padding: 0;
}
 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row {
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 5px;
}